<div class="<%= message.is_from_bot? ? 'bot-message' : 'user-message' %> mb-3">
  <div class="message-bubble <%= message.is_from_bot? ? 'bot' : 'user' %>">
    <%= simple_format(message.content) %>
  </div>
</div>