<!-- app/views/password_resets/new.html.erb -->
<h1>Reset Your Password</h1>
<%= form_with url: password_resets_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.submit "Send Reset Link" %>
  </div>
<% end %>
