<p>Hello <%= @user.name || @user.email %>,</p>
<p>You requested to reset your password. Click the link below:</p>

<p>
  <%= link_to "Reset Your Password", @reset_url %>
</p>

<p>If you didn't request this, please ignore this email.</p>
